<div class="col-sm-3 border-right section-left">
    <div id="sticky0-sticky-wrapper" class="sticky-wrapper" style="height: 632px;">
        <div sticky="30" saveheight="1" class="sidebar-nav" id="sticky0" style="width: 230px;">
            <h4>Plegma API</h4>
            <ul>
                <li>
                    <a href="{{ site.url }}/docs/getting-started"                       
                       {% if page.permalink == "/docs/getting-started" %}
                       class="active"
                       {% endif %}
                       >
                       <span>Getting Started</span>
                    </a>
                </li>
            </ul>
            <h4>Pairing</h4>
            <ul>
                <li>
                    <a href="{{ site.url }}/docs/pairing-overview" 
                       {% if page.permalink == "/docs/pairing-overview" %}
                       class="active"
                       {% endif %}
                       >
                       <span>Overview</span>
                    </a>
                </li>
            </ul>
            <h4>API Messages</h4>
            <ul>
                <li>
                    <a href="{{ site.url }}/docs/api-overview"                       
                       {% if page.permalink == "/docs/api-overview" %}
                       class="active"
                       {% endif %}
                       >
                        <span>API Overview</span>
                    </a>
                </li>
                <li>
                    <a href="{{ site.url }}/docs/base-api-message-class"                       
                       {% if page.permalink == "/docs/base-api-message-class" %}
                       class="active"
                       {% endif %}
                       >
                        <span>Base API message class</span>
                    </a>
                </li>
                <li>
                    <a href="{{ site.url }}/docs/things-ports"                       
                       {% if page.permalink == "/docs/things-ports" %}
                       class="active"
                       {% endif %}
                       >
                        <span>Things &amp; Ports</span>
                    </a>
                </li>
                <li>
                    <a href="{{ site.url }}/docs/things-mgmt-ctrl"                       
                       {% if page.permalink == "/docs/things-mgmt-ctrl" %}
                       class="active"
                       {% endif %}
                       >
                        <span>Things management &amp; control</span>
                    </a>
                </li>
                <li>
                    <a href="{{ site.url }}/docs/message-event-passing"                       
                       {% if page.permalink == "/docs/message-event-passing" %}
                       class="active"
                       {% endif %}
                       >
                        <span>Message &amp; event passing</span>
                    </a>
                </li>
            </ul>
            <h4>REST</h4>
            <ul>
                <li>
                    <a href="{{ site.url }}/docs/rest-api"                       
                       {% if page.permalink == "/docs/rest-api" %}
                       class="active"
                       {% endif %}
                       >
                        <span title="get" class="pg-type type-get">get</span><span>Get available routes</span>
                    </a>
                </li>
                <li>
                    <a href="{{ site.url }}/docs/request-things-related-action"                       
                       {% if page.permalink == "/docs/request-things-related-action" %}
                       class="active"
                       {% endif %}
                       >
                       <span title="post" class="pg-type type-post">post</span><span>Get Things</span>
                    </a>
                </li>
                <li>
                    <a href="{{ site.url }}/docs/things-set"                       
                       {% if page.permalink == "/docs/things-set" %}
                       class="active"
                       {% endif %}
                       >
                        <span title="post" class="pg-type type-post">post</span><span>Set Things</span>
                    </a>
                </li>
                <li>
                    <a href="{{ site.url }}/docs/post-single-message"                       
                       {% if page.permalink == "/docs/post-single-message" %}
                       class="active"
                       {% endif %}
                       >
                        <span title="post" class="pg-type type-post">post</span><span>Post events</span>
                    </a>
                </li>
                <li>
                    <a href="{{ site.url }}/docs/port-states-request"                       
                       {% if page.permalink == "/docs/port-states-request" %}
                       class="active"
                       {% endif %}
                       >
                        <span title="post" class="pg-type type-post">post</span><span>Sync with server's Port States</span>
                    </a>
                </li>
            </ul>
            <h4>MQTT</h4>
            <ul>
                <li>
                    <a href="{{ site.url }}/docs/mqtt-overview"                       
                       {% if page.permalink == "/docs/mqtt-overview" %}
                       class="active"
                       {% endif %}
                       >
                        <span>MQTT support</span>
                    </a>
                </li>
                <li>
                    <a href="{{ site.url }}/docs/message-format"                       
                       {% if page.permalink == "/docs/message-format" %}
                       class="active"
                       {% endif %}
                       >
                        <span>message format</span>
                    </a>
                </li>
            </ul>
            <h4>Web Sockets</h4>
            <ul>
                <li>
                    <a href="{{ site.url }}/docs/ws-overview"                       
                       {% if page.permalink == "/docs/ws-overview" %}
                       class="active"
                       {% endif %}
                       >
                        <span>overview</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>