<!DOCTYPE html>
<html>

    {% include head.html %}

    <body class="layout page-docs body-overlap theme-solid header-overlay header-bg-size-auto header-bg-pos-tl header-overlay-triangles lumosity-normal undefined theme-threes ng-scope os-osx">

        {% include header.html %}

        <div class="container body-container" style="max-width: 100%;padding-left: 0px;padding-right: 0px;">
            <div class="main-content" style="background-color: #1A1A1A; color: white;min-height: 750px;">
                <div class="main-head">
                    <div class="row">

                        {% include sidemenu.html %}

                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}

    </body>

</html>
